body, .pos-content{
    background-color: #fff;
    background-image: url("../../assets/img/sys/bg_body_black.png");
    width: 100%;
}

.grid-item p, .grid-service p{
    font-size: 14px;
    font-weight: bold;
}
.pos-body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.right-content{
    background: #fff;
    min-height: 100px !important;
}

.left-content{
    background: #F5F5F5;
    min-height: 100px !important;
}

.pos-header{
    height: 60px;
    background: #242729;
    color: #fff;
}

.pos-header .logo{
    width: 130px;
    margin: 10px 0 0 10px;
}

.pos-top-icon{
    background: #5CB85C;
    border-color: rgba(0,0,0,0.1);
    color: #fff;
    height: 35px;
    line-height: 28px;
    width: 35px;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    vertical-align: middle;
    padding-top: 3px;
    font-size: 18px;
    font-weight: bolder;
}

.user-profile{
    margin: 10px 0 0 0 !important;
    color: #fff;
    padding: 5px;
}

.user-profile .img-profile{
    padding: 10px 5px;
    background: #fff;
    border-radius: 50%;
}

.user-profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%
}

.pos-content{
    margin: 0 !important;
    padding: 15px 0 0 0 !important;
}

.pos-footer{
    height: 40px;
    background: #252525;
    text-align: center;
    color: #fff;
    padding-top: 10px;
}

.panel-produit{
    background: black;
}

.search-zone{
    padding:10px 10px 10px 5px;
}

.grid-service{
    list-style-type: none;
    overflow: hidden;
    width: 150px;
    height: 140px;
    background: #FFF;
    border-radius: 0 0 3px 3px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
    color: #3A4953;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 10px 5px 5px 5px;
}

.grid{
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    z-index: 1;
    padding: 0 0 0 4px;
    overflow-y: auto;
}

.grid-item{
    list-style-type: none;
    overflow: hidden;
    width: 150px;
    height: 140px;
    background: #FFF;
    border-radius: 0 0 3px 3px;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,.1);
    color: #3A4953;
    font-size: 12px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 10px 5px 5px 5px;
}

.select2, input[type="text"], textarea{
    width: 100% !important;
}
.grid-item p, grid-service p{
    margin-top: 5px;
}

.grid-item img,  .grid-service img{
   max-width: 80px;
   max-height: 60px;
}

.grid-item:hover, .grid-service:hover{
    background: #5CB85C;
    color: #fff;
}

.btn-payer{
    width: 98%;
    height: 60px;
}

#pos_produit_vendu, #pos_container{
    overflow-y: auto;
}

#pos_produit_vendu a{
    text-decoration: none;
}

.width-5 {
    width: 5% !important;
}
.width-15 {
    width: 15% !important;
}
.width-25 {
    width: 25% !important;
}
.width-35 {
    width: 35% !important;
}
.width-45 {
    width: 45% !important;
}
.width-55 {
    width: 55% !important;
}
.width-65 {
    width: 65% !important;
}
.width-75 {
    width: 75% !important;
}
.width-85 {
    width: 85% !important;
}
.width-95 {
    width: 95% !important;
}
.width-100 {
    width: 100% !important;
}

hr{
    margin: 5px 0;
}